.load {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: -76px 0 0 -76px;
    border-radius: 50%;
    border-top: 16px solid skyblue;
    border-bottom: 16px dotted plum;
    border-left: 16px dashed goldenrod;
    border-right: 16px solid lightgreen;
    animation: spin 3s infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  